{% if validlink %}
<p>请输入新密码.</p>
<form action="" method="post">
    <div style="display: none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <table>
        <tr>
            <td>{{ form.new_password1.errors }}
                <label for="id_new_password1">新密码:</label></td>
            <td>{{ form.newpassword1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.errors }}
                <label for="id_new_password2">确认密码:</label></td>
            <td>{{ form.newpassword2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="修改密码"></td>
        </tr>
    </table>
</form>
{% else %}
<h1>密码重置失败！</h1>
<p>该重置密码链接可能已被使用，请重新申请重置。</p>
{% endif %}
