{% extends "base.html" %}
{% load staticfiles %}
{% block title %}blog titles{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>记录清单</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <ul>
            {% for blog in blogs %}
                <li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
            {% endfor %}

        </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h5>测试点</h5>
        <p>测试描述</p>
        <a class="navbar-brand" href="{% url 'blog:blog_title' %}"><img src="{% static 'images/gbase8a.png' %}" width="200px"></a>
    </div>
</div>
{% endblock %}